html,
body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 375px;
  border: 1px solid #000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 16px;
}

.user-details {
  display: flex;
  align-items: center;
}

.logo {
  width: 127px;
  height: 60px;
  margin: 10px 10px;
  background-color: #f0f0f0;
}

.avatar {
  width: 34px;
  height: 34px;
  margin: 16px 15px;
  background-color: #f0f0f0;
  border-radius: 50%;
}
